* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --scroll: 0;
  --scrollZ: 40;
}

.img-container > * {
  width: 400px;
  /* position: relative; */
}

.home {
  position: sticky;
  top: 0;
  /* transform: translate(0, calc(1% * var(--scroll))); */
  opacity: calc((100% - 1% * (max(var(--scroll), 30) - 30) * 100 / 30));
  translate: 0 calc(-1% * (max(var(--scroll), 25) - 25) * 100 / 75);
  /* transition: translate 0.5s ease; */
}
/* .home {
  transform: translateX(50px);
} */
/* .visual {
  padding-top: 10vh;
} */
h1 {
  font-size: 6.3rem;
}
p {
  font-size: 1.8rem;
}
section {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.left {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2rem;
  gap: 1rem;
  flex: 1;
  background-color: #f8faf9;
  height: 100%;
}
.right {
  padding: 2rem;
  display: flex;
  flex: 1;
  background-color: #a2a7a7;
  height: 100%;
}
.visual,
.stack,
.faster {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.imgs-list > * {
  position: fixed;
  width: 100vw;
  z-index: 10;
  bottom: 0;
  translate: 0 100%;
  transition: translate 0.3s ease;
}

img[alt="img-1"] {
  /* translate: 0; */
  width: calc(50vw + 1vw * min(var(--scroll), 30) * 50 / 30);
  transform: translateY(calc(50% - 1% * (min(var(--scroll), 25)) * 50 / 25));
}
.show {
  translate: 0;
  z-index: 100;
}
img[alt="deploy"] {
  position: fixed;
  width: 400px;
  z-index: 100;
  /* bottom: 150%; */
  right: 0;
  /* top: 10%; */
  /* translate: calc(-1% * var(--scrollZ)) calc(1% * var(--scrollZ)); */
  translate: 0 calc(1% * var(--scrollZ));
  transition: all 0.2s ease;
  /* rotate: calc(1 * var(--scrollZ) deg); */
  /* transform: rotate(calc(1deg * var(--scrollZ))); */
  /* opacity: calc(1% * var(--scroll)); */
}
img[alt="card"] {
  position: fixed;
  width: 400px;
  z-index: 100;
  right: 0;
  translate: 0 calc(1% * var(--scrollZ));
  transition: all 0.2s ease;
}
img[alt="modal"] {
  position: fixed;
  width: 400px;
  z-index: 100;
  right: 0;
  bottom: 100%;
  translate: 0 calc(1% * var(--scrollZ));
  transition: all 0.2s ease;
}
img[alt="type"] {
  position: fixed;
  width: 400px;
  bottom: 2100px;
  z-index: 100;
  right: 0;
  translate: 0 calc(1% * var(--scrollZ));
  transition: all 0.2s ease;
}

.background-check {
  position: fixed;
  /* width: 30vw; */
  height: 50vh;
  background-color: purple;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  /* width: calc(1vw * var(--scroll)); */
  /* height: calc(1vh * var(--scroll)); */
  filter: blur(10px);
  box-shadow: 0 0 10px purple;
  /* opacity: calc(0.9% * var(--scroll)); */
  animation: autoFill 2s ease-out backwards;
}

@keyframes autoFill {
  from {
    width: 100vw;
    height: 100vh;
  }
  to {
    width: 0;
    height: 100vh;
  }
}

.container > img {
  /* translate: 100% 0; */
  transform: translate(100%, 0);
}

.active-slide {
  transform: translate(0) !important;
}
